@import "tailwindcss";

@theme {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-zalando: "Zalando Sans SemiExpanded", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-space-grotesk: "Space Grotesk", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
